name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      matrix:
        version:
          - 8
          - 11
          - 17
        distribution:
          - temurin
          - zulu
          - corretto
        os:
          - ubuntu-latest
    runs-on: ${{matrix.os}}
    name: Build with ${{ matrix.distribution }}-${{ matrix.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.version }}
          distribution: ${{ matrix.distribution }}
          cache: 'maven'
      - name: Build with Maven
        run: mvn -B integration-test --file pom.xml
